version: "3"
services: 
  web:
    build: ./nginx
    ports:
      - "8080:80"
    container_name: nginx-web
    links: 
      - php
  db:
    image: mysql:5.7
    volumes: 
      - ./data:/var/lib/mysql
    env_file: .env
    container_name: board-mysql
  php:
    build: ./php
    volumes: 
      - ./src:/usr/myapp
    container_name: php-fpm
    links: 
      - db
